table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(odd) 
{
  background-color:aqua;
}

th
{
    background-color:orange;
}



th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}